<div class="container">
  <span class="input-label" for="inputNumber">Number to convert</span>
  <form [formGroup]="formNumberConvert" (ngSubmit)="submitNumber()">
    <div>
      <input
        class="form-control"
        id="convertNumber"
        type="number"
        placeholder="inputNumber"
        formControlName="convertNumber"
        min="0"
      />

      <div
        *ngIf="
          formNumberConvert.controls['convertNumber'].invalid &&
          (formNumberConvert.controls['convertNumber'].dirty ||
            formNumberConvert.controls['convertNumber'].touched)
        "
        class="error-input"
      >
        <div *ngIf="formNumberConvert.controls['convertNumber'].errors.required">
          Un input est requis
        </div>
        <div *ngIf="formNumberConvert.controls['convertNumber'].errors.min">
          L'input ne peut être négatif'
        </div>
      </div>

      <button
        class="btn btn-primary submit"
        type="submit"
        style="width: 80px"
        [disabled]="!formNumberConvert.valid"
      >
        Convert
      </button>
    </div>
  </form>
</div>
