<div class="container">
  <span class="input-label" for="inputNumber">Number to convert</span>
  <form [formGroup]="formNumberConvert" (ngSubmit)="submitNumber()">
    <div>
      <input
        class="form-control"
        id="convertNumber"
        type="number"
        placeholder="inputNumber"
        formControlName="convertNumber"
        min="0"
      />
      <button
        class="btn btn-primary submit"
        type="submit"
        style="width: 80px"
        [disabled]="!formNumberConvert.valid"
      >
        Convert
      </button>
    </div>
  </form>
</div>
